.game-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

/* Panel hiển thị thông tin */
.info-panel {
  width: 20%;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

/* Thông tin text */
.info-text {
  background-color: #fff8dc;
  color: #4d2e00;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  text-align: justify;
  font-size: 90%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.info-text.appear {
  opacity: 1;
  transform: translateY(0);
}

/* Ảnh nhân vật */
.info-img {
  width: 80%;
  max-width: 160px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

/* Lưới thẻ bài */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;
  width: 80%;
  height: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f9e1a0;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flip-card:hover {
  transform: scale(1.05);
}

.flip-card.flipped,
.flip-card.matched {
  background-color: transparent;
  transform: rotateY(180deg);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.congrats-title {
  font-size: 30px;
  color: #493e09;
  font-weight: bold;
}

.congrats-popup {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}